{% extends 'base.html' %}

{% block title%}
Бюро знахідок | Головна
{% endblock %}

{% block stylesheets %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home_styles.css') }}">
{% endblock %}

{% block body %}
    <main>
        <section class="hero">
            <div class="container hero-content">
                <h1>Знайдемо те, що загубилося</h1>
                <p>Єдина база втрачених та знайдених речей. Допоможіть речам повернутися додому.</p>
                <form class="search-form">
                    <input type="text" placeholder="Що ви шукаєте?" required>
                    <button type="submit" class="btn btn-search">Знайти</button>
                </form>
            </div>
        </section>
    </main>

    <section class="report-finding container">
        <div class="report-card">
            <div class="report-text">
                <h2>Знайшли чужу річ?</h2>
                <p>Ваша уважність може врятувати чийсь день.<br>Створіть коротку анкету, і ми допоможемо власнику знайти вас.</p>

                <a href="create_finding.html" class="btn btn-primary btn-large">Заповнити анкету знахідки</a>
            </div>
        </div>
    </section>

{% endblock %}